<div class="form_container" >
<% if @user.errors.any? %>
    <h2 class="error_message"><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<h1>Create a New Account</h1>


<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create Account" %>
<% end %>

</div>
