<div class="user_info">
  <h1><%= @user.username %>'s Profile</h1>
  <p>Name: <%= @user.name %></p>
  <p><%= @user.created_at.strftime("Joined: %b %d, %Y") %></p>

</div>

<div class="user_fav_list" >
  <h2>Favorite Photos</h2>

  <%= will_paginate @favorite_photos %>
  <% @favorite_photos.each do |favorite_photo| %>
    <div class="thumbnail">
      <%= link_to image_tag(@photos.find(favorite_photo.photo_id).photo_url), photo_path(favorite_photo.photo_id) %>
    </div>
  <% end %>
</div>
