<h1>User Profile</h1>

<h2><%= flash[:sign_in_message] %></h2>

<div class="user_info">
  <p>Username: <%= @user.username %></p>
  <p>Name: <%= @user.name %></p>
  <p><%= @user.created_at.strftime("Joined on %b %d, %Y") %></p>

</div>

<div class="user_fav_list" >
  <ul>
    <% @favorite_photos.each do |favorite_photo| %>
      <li>
        <%= link_to "#{@photos.find(favorite_photo.photo_id).title}", photo_path(favorite_photo.photo_id) %>
      </li>
    <% end %>
  </ul>
</div>
