<div class="container">

  <div class="main_photo">
    <%= link_to photo_path(@random_photo) do %>
    <h2><%= @random_photo.title %></h2>
    <%= image_tag @random_photo.image.url %>
    <% end %>
  </div>

  <div class="thumbnails_container">
    <%= will_paginate @photos %>
    <% @photos.each do |photo| %>
      <div class="thumbnail">
        <%= link_to image_tag(photo.image.url), photo %>
      </div>
    <% end %>
  </div>



</div>  <!-- end of container div -->
