<div class="photo_page" >
  <h2><%= @photo.title %></h2>
  <%= image_tag @photo.photo_url %>
  <p>Uploaded by name on date</p>
  <p>Copy photo url</p>
  <%= link_to "Edit Photo", edit_photo_path(@photo) %>
</div>

<div class="comment_container">
  <ul>
    <% @comments.each do |comment| %>

        <li>
          <%= comment.content %> by 
          <%= link_to "Edit Comment", edit_photo_comment_path(@photo, comment) %>
        </li>

    <% end %>

    <%= form_for [@photo, Comment.new] do |f| %>
      <%= f.label :content, "Add a New Comment" %>
      <%= f.text_area :content %>

      <%= f.submit %>
    <% end %>

  </ul>
</div> <!-- end of comment container div -->
